.DS_Store
deepdsl-common/target
deepdsl-java/target
.classpath
.idea
*.iml
.settings
.project
.pydevproject
deepdsl-common/.cache-main
deepdsl-common/.cache-tests
deepdsl-java/.cache-main
deepdsl-java/.cache-tests
src/main/java/deepdsl/gen/*
dataset

